<div class="cover-home">

  <br><br><br>
  <div class="row center">
    <div class="col s12 m12 l4"></div>
    <div class="col s12 m12 l4">
      <h3 class="white-text animated fadeInUp">Bigcode market</h3>
      <p class="white-text animated fadeIn ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu ligula eget lacus aliquet imperdiet facilisis
        vel ex. Fusce nec ipsum urna. Nulla tempor enim et felis fringilla, quis efficitur tellus placerat. Aliquam condimentum
        lacus et massa tempor, quis pulvinar mi tincidunt.
      </p>
      <br>
      <a href="#!landing" class="waves-effect btn-large white grey-text">Get in</a>
    </div>
    <div class="col s12 m12 l4"></div>
  </div>

  <div class="fixed-action-btn horizontal">
    <a id="menu" class="btn-floating btn-large white">
      <i class="large material-icons grey-text">mode_edit</i>
    </a>
  </div>

  <!-- Tap Target Structure -->
  <div class="tap-target grey lighten-5 grey-text" data-activates="menu">
    <div class="tap-target-content">
      <h5>Sign Up</h5>
      <p>Nulla tempor enim et felis fringilla, quis efficitur tellus placerat. Aliquam condimentum lacus et massa tempor, quis
        pulvinar mi tincidunt.</p>
    </div>
  </div>
</div>